<!-- <div>
  <label>Enter Your Name:</label>
  <input type="text" [(ngModel)]="name" >
  <p  class="output-text">Hello, {{ name }}!</p>
</div>

<table class="custom-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tab of content">
      <td>{{tab.name}}</td>
      <td>{{tab.age}}</td>
      <td>{{tab.salary}}</td>
    </tr>
  </tbody>
</table> -->


<!-- <h1>Angular Input and Output Example</h1>
<app-parent-one></app-parent-one>
<app-parent-two></app-parent-two> -->

<!--
<h1>Angular *ngSwitch Example</h1>
<app-color-switch></app-color-switch> -->
